<h1>Menu</h1>

<h2>Drinks</h2>
<ul>
  <% @drinks.each do |item| %>
    <li><%= render item %></li>
  <% end %>
</ul>

<h2>Food</h2>
<ul>
  <% @food.each do |item| %>
    <li><%= render item %></li>
  <% end %>
</ul>