<h1>Menu</h1>

<h2>Drinks</h2>
<ul>
		<li>Coffe: $3</li>
		<li>Tea: $3</li>
		<li>Milkshake: $6</li>
		<li>Fresh juice: $6</li>
</ul>


<h2>Food</h2>
<ul>
		<li>Muffin: 4</li>
		<li>Toasties: $6</li>
</ul>
