<h1 class="text-center mt-2">Editing Item</h1>

<%= render 'form', item: @item %>

<div class="btn-group">
    <%= link_to 'Show', @item, class: 'btn' %>
    <%= link_to 'Back', items_path, class: 'btn' %>
</div>