// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/html

.wrapper {
		height: 50vh;
		font-family: Courier New, Courier, monospace;
		border: 1px solid #FF6600;
}

h1, table {
		margin-left: auto;
  	margin-right: auto;	
}

#id {
	margin: 0;
}

h1 {
	text-align: center;
		border: 1px solid #FF6600;
		background-color: #FF6600; 
		color: white;
		height: 1.2em;
		margin: 0;
		line-height: 1.2em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table {
		margin-top: 20px;
}

table 

thead tr th {
		padding-left: 0;
		font-size: 25px;
		color: #FF6600;
		margin-bottom: 10px;
}

tbody tr td {
		font-size: 15px;
		padding-left: 20px;
}

table a,
table a:visited {
		color: #FF6600;
}

.newitem {
		text-align: center;
}

.newitem a,
.newitem a:visited {
		text-decoration: none;
		background-color: #FF6600;
		border: 1px solid #FF6600;
		font-size: 20px;
		color: white;
		border-radius: 5px;
}